In [31]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import re
import statsmodels.api as sm
from scipy.stats import boxcox

pd.options.display.max_rows = 100
pattern = re.compile(r"^(?:\\.|[^/\\])*/((?:\\.|[^/\\])*)/")

def load_original_data():
    file1 = pd.read_csv('Data/file1.csv')
    file2 = pd.read_csv('Data/file2.csv')
    file3 = pd.read_csv('Data/file3.csv')
    return pd.concat([file1,file2,file3], axis=0)

ic_df=load_original_data()
ic_df.columns = list(map(lambda h:h.lower().strip(),ic_df.columns))
ic_df = ic_df.drop_duplicates(subset = "customer")

def string_to_float_int_convertor(data):
    if isinstance(data, str):
        data = data.replace('%','')
        return int(float(data))
    else:
        return data

ic_df['customer lifetime value'] = ic_df['customer lifetime value'].fillna(0)
ic_df['customer lifetime value'] = list(map(string_to_float_int_convertor,ic_df['customer lifetime value']))
ic_df['number of open complaints'] = ic_df['number of open complaints'].fillna(0)

def get_value_between_slashes(open_contract):
    if  isinstance(open_contract, str):
        return pattern.match(open_contract).group(1)
    else:
        return open_contract

ic_df['number of open complaints'] = list(map(get_value_between_slashes,ic_df['number of open complaints']))
ic_df['st'] = ic_df['st'].fillna('not provided')
ic_df['gender'] = ic_df['gender'].fillna('not available')

ic_df

,customer,st,gender,education,customer lifetime value,income,monthly premium auto,number of open complaints,policy type,vehicle class,total claim amount,state,gender
0,RB50392,Washington,not available,Master,0.000000e+00,0.0,1000.0,0,Personal Auto,Four-Door Car,2.704934,NaN,not available
1,QZ44356,Arizona,F,Bachelor,6.979530e+05,0.0,94.0,0,Personal Auto,Four-Door Car,1131.464935,NaN,not available
2,AI49188,Nevada,F,Bachelor,1.288743e+06,48767.0,108.0,0,Personal Auto,Two-Door Car,566.472247,NaN,not available
3,WW63253,California,M,Bachelor,7.645860e+05,0.0,106.0,0,Corporate Auto,SUV,529.881344,NaN,not available
4,GA49547,Washington,M,High School or Below,5.363070e+05,36357.0,68.0,0,Personal Auto,Four-Door Car,17.269323,NaN,not available
...,...,...,...,...,...,...,...,...,...,...,...,...,...
7065,LA72316,not provided,not available,Bachelor,2.340599e+04,71941.0,73.0,0,Personal Auto,Four-Door Car,198.234764,California,M
7066,PK87824,not provided,not available,College,3.096511e+03,21604.0,79.0,0,Corporate Auto,Four-Door Car,379.200000,California,F
7067,TD14365,not provided,not available,Bachelor,8.163890e+03,0.0,85.0,3,Corporate Auto,Four-Door Car,790.784983,California,M
7068,UP19263,not provided,not available,College,7.524442e+03,21941.0,96.0,0,Personal Auto,Four-Door Car,691.200000,California,M
7069,Y167826,not provided,not available,College,2.611837e+03,0.0,77.0,0,Corporate Auto,Two-Door Car,369.600000,California,M